<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mywaterapp">

    <application
        android:name=".ControlApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_glass"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_glass"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWaterApp">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NotFirstRunActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".FirstRunActivity"
            android:label="@string/app_name">
        </activity>
        <receiver android:name=".alarmManager.receiver.AlarmReceiver" />
    </application>

</manifest>